<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    autoReload="true"
    internalLogLevel="Off"
    internalLogFile="App_Logs/NLog/Internal/log.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <target xsi:type="Trace" 
            name="Asplogger" 
            layout="${level} - ${message} - ${logger}" />

    <target xsi:type="File" 
            name="RollingTarget" 
            fileName="App_Logs/NLog/RollingLog/log.log" 
            maxArchiveFiles="50" 
            archiveAboveSize="1024000"
        layout="${date} ${threadid} ${level:uppercase=true:padding=-5} ${ndc} - ${message}${newline} - ${logger}" />

   

    <!--- Error Logger Specific Settings -->
    <target xsi:type="File" 
            name="ErrorRollingTarget" 
            fileName="App_Logs/NLog/ErrorRolling/log.log" 
            maxArchiveFiles="50" 
            archiveAboveSize="1024000"
            layout="${date} ${threadid} ${level:uppercase=true:padding=-5} ${logger} ${ndc} - ${message}${newline}${exception:format=toString:when=logger!='ErrorLogger'}${newline:when=logger!='ErrorLogger'}" />

  
  
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="*" minLevel="Info" writeTo="Asplogger" />
    <logger name="*" minLevel="Info" writeTo="RollingTarget" />
    <logger name="ErrorLogger" writeTo="ErrorRollingTarget" />
   

    <!-- This logger catches errors that aren't already being sent to an smtp target (note the final="true" on them, which stops further logging) -->
    <logger name="*" minLevel="Error" writeTo="SmtpTarget" />
  </rules>
</nlog>